body {
    background-color: hsl(192, 92%, 81%);
    font-family: "Roboto Slab", serif;

}

header {
    background-color: #d5f0fd;
    padding:5px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: 6px double #000;
}

#num1 {
    font-size: 16px;
    background-color: #d5f0fd;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 10px
}


/* Google fonts: Roboto Slab */
p, header > h1{
    font-weight: 500;
    font-style: normal;
}


h2{
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 16px;
}

section> ul > li:nth-child(1) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;

}

section> ul > li:nth-child(2) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;
}

section> ul > li:nth-child(3) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;
}


section> ul > li:nth-child(4) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;
}

section> ul > li:nth-child(5) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;
}

section> ul > li:nth-child(6) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;
}
section> ul > li:nth-child(7) {
    font-weight: bold;
    color: rgb(22, 3, 69);
    font-size: 17px;
}
footer{
    text-align: center;
    color: black;
    font-style: italic
}

img {
    width: 400px;
    border-radius: 20px;
    text-align:center
}

#num2{
    text-align: center

}

div > p{
    font-size: 13px;
    font-weight: bold;
}