body {
    background-color: hsl(192, 92%, 81%);

}

header {
    background-color: #d5f0fd;
    padding:5px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: 6px double #000;
}

#num1 {
    font-size: 16px;
    background-color: #d5f0fd;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

p, header{
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-style: normal;
}


section> ul > li:nth-child(1) {
    font-weight: bold;
    color: black;
    font-size: 17px;

}

section> ul > li:nth-child(2) {
    font-weight: bold;
    color: black;
    font-size: 17px;
}

section> ul > li:nth-child(3) {
    font-weight: bold;
    color: black;
    font-size: 17px;
}

